
*, *:before, *:after {
  box-sizing: border-box;
}

/*browser reset snippet*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font-family: 'Roboto', sans-serif;
}
html,body {
  background: white;
  /*background: #444444;*/
}

.background {
  /*position: absolute;
  left: 0;
  right: 0;
  border-radius: 2px;
  height: 100%;*/
  /*sand*/
  /*background: #F5F5F1;*/
  /*charcoal*/
  /*background: #444444;
  -webkit-box-shadow:0 0 15px rgba(0,0,0,0.3);
  -moz-box-shadow:0 0 15px rgba(0,0,0,0.3);
  box-shadow:0 0 15px rgba(0,0,0,0.3);*/
  /*background-color: #F2F7F4;*/
}

/*med heavy all around*/
/*background-color: rgba(0,0,0,0.3);*/
/*-webkit-box-shadow:0 1px 5px rgba(0,0,0,0.3);
-moz-box-shadow:0 1px 5px rgba(0,0,0,0.3);*/
