
*, *:before, *:after {
  box-sizing: border-box;
}

/*browser reset snippet*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font-family: 'Roboto', sans-serif;
}
html,body {
  background: #444444;
}

.background {
  position: absolute;
  left: 0;
  right: 0;
  margin: 2em;
  border-radius: 2px;
  height: 100%;
  /*sand*/
  /*background: #F5F5F1;*/
  /*charcoal*/
  background: #444444;
  -webkit-box-shadow:0 0 15px rgba(0,0,0,0.3);
  -moz-box-shadow:0 0 15px rgba(0,0,0,0.3);
  box-shadow:0 0 15px rgba(0,0,0,0.3);
  /*background-color: #F2F7F4;*/
}


/*NAV STYLES-- DRAG INTO SEP CSS LATER*/
.nav-link {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #444444;
}
