.main-body {
  position: absolute;
  left: 0;
  right: 0;
  padding: 2em;
  margin: 0 2em;
  border-radius: 2px;
  /*-webkit-box-shadow:0 0 20px rgba(0,0,0,0.5);
  -moz-box-shadow:0 0 20px rgba(0,0,0,0.5);
  box-shadow:0 0 20px rgba(0,0,0,0.5);*/
  /*background: #616161;*/
  background-color: rgba(215,215,215,0.1);
}

/*.main-body {
  position: fixed;
  top: 0;
  left: 8%;
  right: 8%;
  height: 100%;
  border: solid black 8px;
  border-radius: 5px;
}*/
