.projects {
  width: 80vw;
  height: 80vh;
  padding: .5em 2em;
  display: flex;
  flex-flow: wrap row;
  background-color: white;
  box-shadow:0 1px 5px rgba(0,0,0,0.12);
  margin: 1em;
  /*border: solid black 1px;*/
}

.title {
  width: inherit;
  text-align: center;
}

.vis-and-blurb {
  width: inherit;
  display: flex;
}

.proj-visual {
  width: 25vw;
  height: 25vw;
  border: solid black 1px;
}

.proj-blurb {
  width: 75vw;
}
